.custom-card{
    background-color: #26272e;
   }
   
   .container-title{
       font-size: 1.5rem;
   }
   
   .container-title-descreption{
       font-size: 1.1rem;
       color: rgb(199, 201, 206);
   }
   
   .feature-title{
       color: rgb(202, 204, 209);
       font-size: 1.3rem;
   }

   .feature-title-descreption{
       font-size: .9rem;
       color: rgb(150, 152, 158);
   }