.card-log{
    padding: 20px 28px;
}

.tool-tip-tag{
    position: relative;
    top: 1rem;
    background-color: #0d6dfd21;
    width: 20%;
    float: right;
    color: #0d6dfd;
    padding: 2px 13px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}