.containers-03IM{
    margin-left: 15%;
    z-index: -5;
    margin-top: 11.4%;
}

@media screen and (max-width: 1498px){
    .containers-03IM{
        margin-left: 25%;
    }
}


@media screen and (max-width: 1069px){
    .containers-03IM{
        margin-left: 32% !important;
    }
    .switch{
        position: relative;
        left: 13px;
    }
}

@media screen and (max-width: 989px){
    .containers-03IM{
        margin-left: 0% !important;
        margin-top: 15%;
    }
    .switch{
        position: relative;
        left: 13px;
    }
}

@media screen and (max-width: 800px){
    .containers-03IM{
        margin-left: 0% !important;
        margin-top: 18%;
    }
    .switch{
        position: relative;
        left: 13px;
    }
    .category-row{
        width: 90%;
    }
}

@media screen and (max-width: 533px){
    .containers-03IM{
        margin-left: 0% !important;
        margin-top: 34%;
    }
}
