.sidebar{
    position: fixed;
    top: 5rem;
    left: 0;
    width: 19rem;
    height: 100%;
    background-color: #222329;
    overflow: scroll;
    transition: 1s all;
    z-index: 2;
}

/* ITEMS */


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.select-server{
    width: 85%;
    text-align: left !important;
}

.css-yk16xz-control{
    padding: 4px 12px;
    border-radius: 8px !important;
    background-color: #1a1b1f !important;
    border: 1px solid #1a1b1f !important;
}

.css-1pahdxg-control
{
    padding: 4px 8px;
    border-radius: 8px !important;
    background-color: #1a1b1f !important;
    border: 1px solid #1a1b1f !important;
    box-shadow: none !important;
}

.css-26l3qy-menu{
    background-color: #1a1b1f !important;
    border: 1px solid #1a1b1f !important;
    color: #fff;
}

.css-26l3qy-menu:hover{
    background-color: #1a1b1f !important;
}

.css-1uccc91-singleValue{
    color: #fff !important;
}

.section-title{
    color: rgba(255, 255, 255, 0.795);
    font-size: 1rem;
}

.page-link-2{
    list-style: none;
    color: rgb(155, 157, 159);
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem;
    transition: 0.2s all;
}

.page-link-2:hover{
    color: rgb(199, 199, 199);
    transition: 0.2s all;
}

.icon-section{
    padding: 10px 11px;
    background-color: #2e2e36;
    font-size: 1.1rem;
}

.fix-p{
    padding: 10px 13px; 
}

.fix-p-2{
    padding: 10px 14px;  
}

.user-settings{
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    height: 9%;
    text-align: left;
    background-color: #27292F;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding-right: .5rem;
}

.user-card{
    display: grid;
    grid-template-columns: 4.5rem auto auto;
    align-items: center;
}

.user-name{
    color: rgba(255, 255, 255, 0.842);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 160px;
}

.btn-dots{
    font-size: 1.4rem;
    outline: none;
    box-shadow: none;
}

.btn-dots:active, .btn-dots:focus, .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}


.fa-flag-usa{
    color: rgb(226, 73, 73);
}

.fa-terminal{
    color: rgb(233, 199, 88);
}

.fa-list-ul{
    color: rgb(158, 241, 110);
}

.fa-boxes{
    color: rgb(89, 162, 245);
}

.fa-shield-check{
    color: rgb(240, 110, 245);
}

.user-settings-links{
    text-decoration: none;
    padding: 4px 8px;
    padding-top: 1rem;
}

.logout-link{
    color: rgb(236, 76, 76);
    transition: 0.2s all;
}

.logout-link:hover{
    color: rgb(196, 58, 58);
    transition: 0.2s all;
}

.drop-down-menue-user{
    border: none;
}

.react-select__menu-list{
    padding: .4rem;
}

.react-select__option{
 background-color: #1a1b1f !important;
 transition: 0.2s all;
 border-radius: 8px;
}

.react-select__option:hover{
    background-color: rgb(61, 65, 73) !important;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;
}

.navbar-toggler{
    outline: none;
    border: none;
    font-size: 1.6rem;
    position: relative;
    top: 5px;
}

@media screen and (max-width: 991px){

    .sidebar{
        transition: 1s all;
        left: -400px;
    }

    .open-sidebar{
        left: 0 !important;
        transition: 1s all;
    }
    .user-settings{
        border-top-right-radius: 12px ;
    }
}
